<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885043027350-7opeqg9kj6ndquubvt8thjocpg51e4cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885043027350-7opeqg9kj6ndquubvt8thjocpg51e4cr</string>
	<key>API_KEY</key>
	<string>AIzaSyDcSQbhTsnKQq7j8y_e75J0k2Ge_l5_dt8</string>
	<key>GCM_SENDER_ID</key>
	<string>885043027350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kapii.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-23f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-23f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885043027350:ios:726efe6068b29f86d391b7</string>
</dict>
</plist>